body {
  color: #1e2823;
}

.nav-link,
.navbar-brand {
  color: #1e2823;
}

.bg-img {
  background-image: url(/assets/img/Header-llustration-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.social-conacts a {
  color: #505f79;
}
.bg-img h2 {
  color: #36b37e;
}
