body {
  color: #1e2823;
}

ul {
  list-style-type: none;
  padding: 0;
}

.nav-link,
.navbar-brand {
  color: #1e2823;
}

.bg-img {
  background-image: url(/assets/img/Header-llustration-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

.social-conacts a {
  color: #505f79;
}

.bg-img h2 {
  color: #36b37e;
}

.btn-close {
  position: absolute;
  z-index: 100;
  top: 2%;
  right: 2%;
}